section.section-build 
  .container 
    .build 
      .build__head 
        p.eyebrow why choose  
          span.eyebrow__accent capstone
        h2.heading__h2 Built for
          <br> Developers & Employers
      .build__grid 
        .build__card
          .build__card__head 
            h3.build__card__title For Developers
          .build__card__body 
            .build__card__items
              .build__item 
                .build__item__icon
                  img(src='../../assets/images/build__item__icon.webp', alt='Deskripsi gambar')
                .build__item__body
                  p.build__item__summary 
                    span Seamless Application Process 
                    | - Apply for roles that align with your expertise in minutes.
              .build__item 
                .build__item__icon
                  img(src='../../assets/images/build__item__icon.webp', alt='Deskripsi gambar')
                .build__item__body
                  p.build__item__summary 
                    span Skills Showcase 
                    | - Highlight your projects, certifications, and achievements.
              .build__item 
                .build__item__icon
                  img(src='../../assets/images/build__item__icon.webp', alt='Deskripsi gambar')
                .build__item__body
                  p.build__item__summary 
                    span Collaborative Community 
                    | - Connect with peers and mentors through Capstone's network.
              .build__item 
                .build__item__icon
                  img(src='../../assets/images/build__item__icon.webp', alt='Deskripsi gambar')
                .build__item__body
                  p.build__item__summary 
                    span Real-Time Job Alerts 
                    | - Stay informed about opportunities tailored to your skillset.
            .build__card__sign
              .build__sign__inner
                h4.build__sign__title Unlock Your Potential
                p.build__sign__summary Ready to elevate your career? Our portal offers:
              .build__sign__buttons
                a.btn.btn--secondary(href="#") Sign Up Now
        .build__card
          .build__card__head 
            h3.build__card__title For Employers
          .build__card__body 
            .build__card__items
              .build__item 
                .build__item__icon
                  img(src='../../assets/images/build__item__icon--white.webp', alt='Deskripsi gambar')
                .build__item__body
                  p.build__item__summary 
                    span Curated Talent Pool  
                    | - Access pre-vetted developers with expertise in your industry.
              .build__item 
                .build__item__icon
                  img(src='../../assets/images/build__item__icon--white.webp', alt='Deskripsi gambar')
                .build__item__body
                  p.build__item__summary 
                    span Custom Recruitment Solutions 
                    | - Tailored hiring options for short-term projects or long-term roles.
              .build__item 
                .build__item__icon
                  img(src='../../assets/images/build__item__icon--white.webp', alt='Deskripsi gambar')
                .build__item__body
                  p.build__item__summary 
                    span Efficient Onboarding 
                    | - Streamlined processes to get talent working on your projects immediately.
            .build__card__sign
              .build__sign__inner
                h4.build__sign__title Hire Exceptional Talent
                p.build__sign__summary Looking for developers who can turn ideas into reality? Our platform provides:
              .build__sign__buttons
                a.btn.btn--secondary(href="#") Find Talent