section.section-connecting 
  .container 
    .connecting 
      .connecting__head
        h2.heading__h2 Connecting Talent and Opportunity
      .connecting__wrapper
        .connecting__content
          p.connecting__content__desc Whether you're a developer seeking meaningful work or an employer looking for exceptional talent, Capstone connects the right people to the right opportunities.
          a(href="#").btn.btn--tertiary Visit the Job Portal
        .connecting__cards 
          .connecting__card 
            .connecting__card__content 
              .connecting__card__subtext
                h3.connecting__card__title For Employers
                p.connecting__card__desc Discover pre-vetted talent, streamline recruitment, and accelerate your project development with confidence.
              .connecting__card__icon 
                img(src='../../assets/images/connecting__card--icon-1.webp', alt='Deskripsi gambar')
            .connecting__card__bg 
              img(src='../../assets/images/connecting__card--vector-1.webp', alt='Deskripsi gambar')
          .connecting__card 
            .connecting__card__content 
              .connecting__card__subtext
                h3.connecting__card__title For Developers
                p.connecting__card__desc Showcase your skills, explore curated jobs, and join a global community of innovators across blockchain, fintech, AI, enterprise solutions, and more.
              .connecting__card__icon 
                img(src='../../assets/images/connecting__card--icon-2.webp', alt='Deskripsi gambar')
            .connecting__card__bg 
              img(src='../../assets/images/connecting__card--vector-2.webp', alt='Deskripsi gambar')
    .connecting__bg 
      img(src='../../assets/images/connecting__vector.webp', alt='Deskripsi gambar')
