section.section-core 
  .container 
    .core 
      .core__head 
        h2.heading__h2 Our Core Focus Areas
        span.core__span ( ©2025 ) 
      .core__grid
        a.core__card(href="#")
          .core__card__content
            .core__card__icons 
              //- inline SVG
              svg.core__card__icon(xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none")
                path(d="M18.328 48L19.3862 31.875L5.67196 40.9167L0 31.0833L14.7725 24L0 16.9167L5.67196 7.08333L19.3862 16.125L18.328 0H29.7143L28.6138 16.125L42.328 7.08333L48 16.9167L33.2698 24L48 31.0833L42.328 40.9167L28.6138 31.875L29.7143 48H18.328Z" fill="currentColor")
            .core__card__body 
              h4.core__card__title AI and Machine Learning
              p.core__card__desc Drive progress in automation and intelligent systems.
          .core__card__media 
            img.core__card__img(src='../../assets/images/core__card__img.webp', alt='Deskripsi gambar')
        a.core__card(href="#")
          .core__card__content
            .core__card__icons 
              //- inline SVG
              svg.core__card__icon(xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none")
                path(d="M18.328 48L19.3862 31.875L5.67196 40.9167L0 31.0833L14.7725 24L0 16.9167L5.67196 7.08333L19.3862 16.125L18.328 0H29.7143L28.6138 16.125L42.328 7.08333L48 16.9167L33.2698 24L48 31.0833L42.328 40.9167L28.6138 31.875L29.7143 48H18.328Z" fill="currentColor")
            .core__card__body 
              h4.core__card__title Blockchain & Web3 Development
              p.core__card__desc Build the next generation of decentralized solutions.
          .core__card__media 
            img.core__card__img(src='../../assets/images/core__card__img-2.webp', alt='Deskripsi gambar')
        a.core__card(href="#")
          .core__card__content
            .core__card__icons 
              //- inline SVG
              svg.core__card__icon(xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none")
                path(d="M18.328 48L19.3862 31.875L5.67196 40.9167L0 31.0833L14.7725 24L0 16.9167L5.67196 7.08333L19.3862 16.125L18.328 0H29.7143L28.6138 16.125L42.328 7.08333L48 16.9167L33.2698 24L48 31.0833L42.328 40.9167L28.6138 31.875L29.7143 48H18.328Z" fill="currentColor")
            .core__card__body 
              h4.core__card__title Fintech Innovation
              p.core__card__desc Shape the future of financial technology with advanced platforms and tools.
          .core__card__media 
            img.core__card__img(src='../../assets/images/core__card__img-3.webp', alt='Deskripsi gambar')
        a.core__card(href="#")
          .core__card__content
            .core__card__icons 
              //- inline SVG
              svg.core__card__icon(xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none")
                path(d="M18.328 48L19.3862 31.875L5.67196 40.9167L0 31.0833L14.7725 24L0 16.9167L5.67196 7.08333L19.3862 16.125L18.328 0H29.7143L28.6138 16.125L42.328 7.08333L48 16.9167L33.2698 24L48 31.0833L42.328 40.9167L28.6138 31.875L29.7143 48H18.328Z" fill="currentColor")
            .core__card__body 
              h4.core__card__title Enterprise Solutions
              p.core__card__desc Design and develop scalable systems for leading global enterprises.
          .core__card__media 
            img.core__card__img(src='../../assets/images/core__card__img-4.webp', alt='Deskripsi gambar')
        a.core__card(href="#")
          .core__card__content
            .core__card__icons 
              //- inline SVG
              svg.core__card__icon(xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none")
                path(d="M18.328 48L19.3862 31.875L5.67196 40.9167L0 31.0833L14.7725 24L0 16.9167L5.67196 7.08333L19.3862 16.125L18.328 0H29.7143L28.6138 16.125L42.328 7.08333L48 16.9167L33.2698 24L48 31.0833L42.328 40.9167L28.6138 31.875L29.7143 48H18.328Z" fill="currentColor")
            .core__card__body 
              h4.core__card__title Custom App Development
              p.core__card__desc Create bespoke applications for niche markets and industries.
          .core__card__media 
            img.core__card__img(src='../../assets/images/core__card__img-5.webp', alt='Deskripsi gambar')
      .core__bottom 
        h3.heading__h3 At Capstone, we don't just recruit developers; 
          span.heading__h3__accent we empower problem-solvers, creators, and pioneers
    .core__bg 
      img.core__card__img(src='../../assets/images/core__background__intersect.webp', alt='Deskripsi gambar')