footer.footer 
  .container
    .footer__wrapper 
      .footer__menus 
        a.footer__link(href="#") Home
        a.footer__link(href="#") Integration
        a.footer__link(href="#") Job Portal
        a.footer__link(href="#") Find Job
        a.footer__link(href="#") Post Job
      .footer__tagline
        img.footer__tagline__img(src='../../assets/images/Tagline-bg.webp', alt='Deskripsi gambar')