section.section-hero 
  .container 
    .hero 
      .hero__head 
        .hero__subtext 
          h1.heading__h1 EMPOWERING
          span.hero__span
          h1.heading__h1.heading__h1__accent INNOVATORS
        .hero__subtext 
          h1.heading__h1 BUILDING 
          h1.heading__h1 TOMORROW
      .hero__content 
        .hero__item 
          span.hero__item__span CAPSTONE dEVELOPER PORTAL
          h2.hero__item__title 2025
        .hero__summary 
          img(src='../../assets/images/services__card-tagline.webp', alt='Deskripsi gambar')
          p.hero__summary__desc Capstone Developer Portal is your gateway to building faster, smarter, and scalable solutions with the tools and guidance to help you innovate confidently.
    .hero__media 
      img(src='../../assets/images/hero__img.webp', alt='Deskripsi gambar')
  .hero__overlay 
    .hero__overlay__layer
    .hero__overlay__layer
      img(src='../../assets/images/hero__overlay__tagline.webp', alt='Deskripsi gambar')
