section.section-integrations
  .container 
    .integrations
      .integrations__content 
        .integrations__left 
          p.eyebrow DEVELOPER PORTAL 
            span.eyebrow__accent ( ©2025 )
          h1.heading__h1 
            span.heading__h1--accent Developers 
            | — API Reference & Quickstarts
        .integrations__right 
          .job-hero__box-join 
            .box-join__inner 
              span.box-join__span People join with us
              .box-join__inner-icon 
                img(src='../../assets/images/job-hero__vector-tigline__white.webp', alt='Deskripsi gambar')
            .box-join__inner--custom 
              h2.box-join__title 12.903.284

          .integrations__box-content 
            .box-content__inner 
              img(src='../../assets/images/job-hero__vector-tigline.webp', alt='Deskripsi gambar')
              p.box-content__desc Explore Capstone’s REST APIs, events, and data models for payments, onboarding, and monitoring. Launch faster with quickstarts and SDKs.
            .box-content__buttons 
              a(href="#").btn.btn--primary Book a Discovery Call
        .integration__media 
          img(src='../../assets/images/integration__hero-img.webp', alt='Deskripsi gambar')
          img(src='../../assets/images/integration__pattern-hero.webp', alt='Deskripsi gambar')