section.section-integrations
  .container 
    .integrations 
      .integrations__left
        p.eyebrow DEVELOPER PORTAL 
          span.eyebrow__accent ( ©2025 )
        .integrations__subtext
          h1.heading__h1 
            span.heading__h1__accent Developers 
            | — API Reference & 
          h1.heading__h1 Quickstarts
      .integrations__right 
        .join-card 
          .join-card__head 
            h3.join-card__title People join with us
            .join-card__icon 
              img(src='../../assets/images/join-card__tagline.webp', alt='Deskripsi gambar')
          .join-card__body 
            p.join-card__number 12.903.284
        .integrations__item 
          .integrations__item__subtext
            img(src='../../assets/images/job-hero__vector-tigline.webp', alt='Deskripsi gambar')
            p.integrations__item__desc Explore Capstone’s REST APIs, events, and data models for payments, onboarding, and monitoring. Launch faster with quickstarts and SDKs.
          a(href="#").btn.btn--primary.text--white Book a Discovery Call
      .integrations__media 
        img(src='../../assets/images/integration__img.webp', alt='Deskripsi gambar')
    .integrations__overlay
      img(src='../../assets/images/integration__overlay-tagline.webp', alt='Deskripsi gambar')
      img(src='../../assets/images/integration__overlay-union.webp', alt='Deskripsi gambar')
      img(src='../../assets/images/integration__overlay-outline.webp', alt='Deskripsi gambar')

