section.job-hero
  .container 
    .job-hero__content 
      .job-hero__top
        p.eyebrow DEVELOPER PORTAL 
          span.eyebrow__accent ( ©2025 )
        .job-hero__inner 
          .job-hero__wrap 
            span.job-hero__span
            h1.heading__h1.heading__h1--accent EMPOWERING 
          h1.heading__h1 INNOVATORS BUILDING
          .job-hero__wrap 
            h1.heading__h1 TOMORROW
            .job-hero__box-button
              img(src='../../assets/images/hero-box__vector.webp', alt='Deskripsi gambar')
              a.btn.btn--primary(href='#') Join Now
      .job-hero__bottom
        .job-hero__box-summary 
          img(src='../../assets/images/job-hero__vector-tigline.webp', alt='Deskripsi gambar')
          p.job-hero__summary Every organization is different; the problems rhyme. Relianta offers solution patterns you can tailor to your stack and jurisdiction.
        .job-hero__box-join 
          .box-join__inner 
            span.box-join__span People join with us
            .box-join__inner-icon 
              img(src='../../assets/images//job-hero__vector-tigline__white.webp', alt='Deskripsi gambar')
          .box-join__inner--custom 
            h2.box-join__title 12.903.284
      .job-hero__media 
        img.job-hero__img(src='../../assets/images/job-hero__img.webp', alt='Deskripsi gambar')
