navbar.navbar
  .container
    a.navbar__logo(href="/")
      img(src='../../assets/images/tagline-logo.webp', alt='Deskripsi gambar')

    .navbar__menu
      a(href="#").nav__link Blue page
      a(href="integrations.html").nav__link Purple Page with GIrl
      a(href="#").nav__link Green Page with human figure
      a(href="#").nav__link New Orange Page
      a(href="#").nav__link Job Portal (login)

    button.navbar__toggle(type="button" aria-label="Toggle Menu")
      span
      span
      span
