navbar.navbar
  .container
    a.navbar__logo(href="/")
      img(src='../../assets/images/tagline-logo.webp', alt='Deskripsi gambar')

    .navbar__menu
      a(href="/").nav__link Home
      a(href="integrations.html").nav__link Integration
      a(href="job-portal.html").nav__link Job Portal
      a(href="#").nav__link Find Job
      a(href="#").nav__link Post Job

    button.navbar__toggle(type="button" aria-label="Toggle Menu")
      span
      span
      span
