section.section-need 
  .container 
    .need 
      .need__head 
        p.eyebrow DEVELOPER PORTAL 
          span.eyebrow__accent ( ©2025 )
        h2.heading__h2 
          span.heading__h2__accent Discover the technical components, 
          | documentation, and simulators that support your integration from start to finish.
      .need__wrapper 
        .need__grid 
          .need__flex 
            .need__card 
              .need__card__content 
                img(src='../../assets/images/need__card-api.webp', alt='Deskripsi gambar')
                .need__card__body 
                  h3.need__card__title API reference
                  p.need__card__summary Endpoints for parties, accounts, instructions, settlements, and cases.
              img.need__card__bg(src='../../assets/images/need__card_bg-api.webp', alt='Deskripsi gambar')
          .need__flex 
            .need__card 
              .need__card__content 
                img(src='../../assets/images/need__card-sdk.webp', alt='Deskripsi gambar')
                .need__card__body 
                  h3.need__card__title API reference
                  p.need__card__summary Endpoints for parties, accounts, instructions, settlements, and cases.
              img.need__card__bg(src='../../assets/images/need__card_bg-sdk.webp', alt='Deskripsi gambar')
            .need__card 
              .need__card__content 
                img(src='../../assets/images/need__card-event.webp', alt='Deskripsi gambar')
                .need__card__body 
                  h3.need__card__title API reference
                  p.need__card__summary Endpoints for parties, accounts, instructions, settlements, and cases.
              img.need__card__bg(src='../../assets/images/need__card_bg-event.webp', alt='Deskripsi gambar')
          .need__flex 
            .need__card 
              .need__card__content 
                img(src='../../assets/images/need__card-quick.webp', alt='Deskripsi gambar')
                .need__card__body 
                  h3.need__card__title API reference
                  p.need__card__summary Endpoints for parties, accounts, instructions, settlements, and cases.
              img.need__card__bg(src='../../assets/images/need__card_bg-quick.webp', alt='Deskripsi gambar')
            .need__card 
              .need__card__content 
                img(src='../../assets/images/need__card-test.webp', alt='Deskripsi gambar')
                .need__card__body 
                  h3.need__card__title API reference
                  p.need__card__summary Endpoints for parties, accounts, instructions, settlements, and cases.
              img.need__card__bg(src='../../assets/images/need__card_bg-test.webp', alt='Deskripsi gambar')
        img.need__ornament(src='../../assets/images/need__ornament__small.webp', alt='Deskripsi gambar')
    .need__overlay
      img(src='../../assets/images/need__tagline.webp', alt='Deskripsi gambar')