section.section-portal 
  .container 
    .portal 
      .portal__head 
        .heading__h2 Why Capstone Developer Portal
      .portal__grid 
        a.core__card(href="#")
          .core__card__content
            .core__card__icons 
              //- inline SVG
              svg.core__card__icon(xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none")
                path(d="M18.328 48L19.3862 31.875L5.67196 40.9167L0 31.0833L14.7725 24L0 16.9167L5.67196 7.08333L19.3862 16.125L18.328 0H29.7143L28.6138 16.125L42.328 7.08333L48 16.9167L33.2698 24L48 31.0833L42.328 40.9167L28.6138 31.875L29.7143 48H18.328Z" fill="currentColor")
            .core__card__body 
              h4.core__card__title Unified Experience
              p.core__card__desc DIntegrations and career opportunities in one ecosystem
          .core__card__media 
            img.core__card__img(src='../../assets/images/portal__card--img-1.webp', alt='Deskripsi gambar')
        a.core__card(href="#")
          .core__card__content
            .core__card__icons 
              //- inline SVG
              svg.core__card__icon(xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none")
                path(d="M18.328 48L19.3862 31.875L5.67196 40.9167L0 31.0833L14.7725 24L0 16.9167L5.67196 7.08333L19.3862 16.125L18.328 0H29.7143L28.6138 16.125L42.328 7.08333L48 16.9167L33.2698 24L48 31.0833L42.328 40.9167L28.6138 31.875L29.7143 48H18.328Z" fill="currentColor")
            .core__card__body 
              h4.core__card__title Built for Modern Tech Teams
              p.core__card__desc From APIs services to developer hiring, Capstone supports the entire development lifecycle
          .core__card__media 
            img.core__card__img(src='../../assets/images/portal__card--img-2.webp', alt='Deskripsi gambar')
        .core__card__decoration 
          img.core__card__img(src='../../assets/images/portal__card--vector.webp', alt='Deskripsi gambar')
        .core__card__decoration 
          img.core__card__img(src='../../assets/images/portal__card--vector.webp', alt='Deskripsi gambar')
        a.core__card(href="#")
          .core__card__content
            .core__card__icons 
              //- inline SVG
              svg.core__card__icon(xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none")
                path(d="M18.328 48L19.3862 31.875L5.67196 40.9167L0 31.0833L14.7725 24L0 16.9167L5.67196 7.08333L19.3862 16.125L18.328 0H29.7143L28.6138 16.125L42.328 7.08333L48 16.9167L33.2698 24L48 31.0833L42.328 40.9167L28.6138 31.875L29.7143 48H18.328Z" fill="currentColor")
            .core__card__body 
              h4.core__card__title Global Reach
              p.core__card__desc Connect and collaborate with innovators worldwide
          .core__card__media 
            img.core__card__img(src='../../assets/images//portal__card--img-3.webp', alt='Deskripsi gambar')
        a.core__card(href="#")
          .core__card__content
            .core__card__icons 
              //- inline SVG
              svg.core__card__icon(xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none")
                path(d="M18.328 48L19.3862 31.875L5.67196 40.9167L0 31.0833L14.7725 24L0 16.9167L5.67196 7.08333L19.3862 16.125L18.328 0H29.7143L28.6138 16.125L42.328 7.08333L48 16.9167L33.2698 24L48 31.0833L42.328 40.9167L28.6138 31.875L29.7143 48H18.328Z" fill="currentColor")
            .core__card__body 
              h4.core__card__title Future-Driven
              p.core__card__desc Tools, resources, and opportunities built to empower tomorrow’s builders
          .core__card__media 
            img.core__card__img(src='../../assets/images/portal__card--img-4.webp', alt='Deskripsi gambar')