section.section-services 
  .container 
    .services 
      .services__head 
        h2.heading__h2 Integration Services
      .services__content 
        .services__card
          .services__card__media 
            img(src='../../assets/images/services__card-img.webp', alt='Deskripsi gambar')
          .services__card__body 
            h3.services__card__title Our Full Capability Set
            .services__card__inner 
              img(src='../../assets/images/services__card-tagline.webp', alt='Deskripsi gambar')
              .services__card__wrap 
                p.services__card__desc 
                  | Build with Capstone’s robust developer ecosystem designed for modern financial and operational systems.
                  br
                  br
                  | Access REST APIs, event-driven workflows, onboarding pipelines, and monitoring tools—all crafted to help developers launch and scale quickly.
                a(href="#").btn.btn--tertiary Explore Integration Services
        .services__list 
          a(href="#").services__item 
            h3.services__item__title Unified Workflow Integration
            p.services__item__desc Integrate payments, onboarding, case management, and transactional workflows
          a(href="#").services__item 
            h3.services__item__title Real-Time Event Handling
            p.services__item__desc Use event webhooks for real-time updates and exception handling
          a(href="#").services__item 
            h3.services__item__title Developer Quickstarts & SDKs
            p.services__item__desc Explore quickstarts and SDKs to accelerate development
          a(href="#").services__item 
            h3.services__item__title Robust Testing Ecosystem
            p.services__item__desc Test with sandbox environments, simulators, and sample data