section.section-why#why 
  .container 
    .why 
      .why-head 
        p.eyebrow why choose   
          span.eyebrow__accent capstone
        h2.heading__h2 At Capstone, we don't just recruit developers; 
          span.heading__h2--accent we empower problem-solvers, creators, and pioneers. Here's why top tech talent chooses us
      .why-content
        .why-wrap__card 
          .why__card
            .why__card__media 
              img.why__card__ornament(src='../../assets/images/why__card-ornamen.webp', alt='Deskripsi gambar')
              img.why__card__img(src='../../assets/images/why__card-img.webp', alt='Deskripsi gambar')
            .why__card__body
              h3.why__card__title ( ©2025 )
              img.why__card__vector(src='../../assets/images/why__card-vector.webp', alt='Deskripsi gambar')
        .why-wrap__accordions 
          a.why__accordion(href="#")
            .why__accordion__content
              img.why__accordion__vector(src='../../assets/images/job-hero__vector-tigline.webp', alt='Deskripsi gambar')
              .why__accordion__inner 
                h3.why__accordion__title Innovative Project
                p.why__accordion__summary Work on challenging, industry-leading projects in blockchain, fintech, AI, and beyond
            img.why__accordion__arrow(src='../../assets/images/why__arrow-white.webp', alt='Deskripsi gambar')
          a.why__accordion(href="#")
            .why__accordion__content
              img.why__accordion__vector(src='../../assets/images/job-hero__vector-tigline.webp', alt='Deskripsi gambar')
              .why__accordion__inner 
                h3.why__accordion__title Global Opportunities
                p.why__accordion__summary Join a diverse community of developers from across the globe, collaborating on groundbreaking solutions.
            img.why__accordion__arrow(src='../../assets/images/why__arrow-white.webp', alt='Deskripsi gambar')
          a.why__accordion(href="#")
            .why__accordion__content
              img.why__accordion__vector(src='../../assets/images/job-hero__vector-tigline.webp', alt='Deskripsi gambar')
              .why__accordion__inner 
                h3.why__accordion__title Skill Advancement
                p.why__accordion__summary Access mentorship, cutting-edge tools, and continuous learning opportunities to keep your skills ahead of the curve.
            img.why__accordion__arrow(src='../../assets/images/why__arrow-white.webp', alt='Deskripsi gambar')
          a.why__accordion(href="#")
            .why__accordion__content
              img.why__accordion__vector(src='../../assets/images/job-hero__vector-tigline.webp', alt='Deskripsi gambar')
              .why__accordion__inner 
                h3.why__accordion__title Flexibility & Growth
                p.why__accordion__summary Work remotely, onsite, or hybrid—wherever you thrive best. We tailor opportunities to fit your career ambitions.
            img.why__accordion__arrow(src='../../assets/images/why__arrow-white.webp', alt='Deskripsi gambar')