@use 'mixins';

$font-base: "Inter", sans-serif;
$font-primary: "Thunder", sans-serif;

$color--white: #FFFFFF;
$color--black: #000000;
$color--dark-purple: #01120C;
$color--purple: #2C1A32;

$color--primary: #FFA100; 
$color--secondary: #175941;

*, html {
  box-sizing: border-box;
  margin: unset;
  scroll-behavior: smooth;
}

body {
  font-family: $font-base;
  background: $color--dark-purple;
  color: black;

  h1, h2, h3, h4, h5, h6, p {
    margin: unset;
  }

  img {
    object-fit: cover;
  }

  a{
    text-decoration: none;
    color: inherit;
  }
}

section{
  width: 100%;
  overflow: hidden;
}

/* CONTAINER STYLE */
.container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding-inline: 32px;

  @include mixins.respond(lg) {
    padding-inline: 24px;
  }

  @include mixins.respond(md) {
    padding-inline: 16px;
  }
}

/* HEADING STYLE */
.heading__h1 {
  font-family: $font-primary;
  color: #FFF;
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: 88%; 
  letter-spacing: -1.28px;
  text-transform: uppercase;
  &--accent {
    color: $color--primary;
  }

  @include mixins.respond(xl) {
    font-size: 97px;
  }

  @include mixins.respond(sm) {
    font-size: 54px;
    letter-spacing: -0.18px;
  }
}

.heading__h2 {
  color: #FFF;
  font-family: $font-primary;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 88%;
  letter-spacing: -0.64px;
  text-transform: uppercase;

  &--accent {
    color: $color--secondary;
  }

  @include mixins.respond(xl) {
    font-size: 48px;
    letter-spacing: -0.24px;
  }

  @include mixins.respond(sm) {
    font-size: 42px;
    letter-spacing: -0.14px;
  }
}

.heading__h3 {
  color: #FFF;
  text-align: right;
  font-family: $font-primary;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 88%; /* 56.32px */
  letter-spacing: -0.64px;
  text-transform: uppercase;

  &__accent {
    color: $color--primary;
  }

  @include mixins.respond(xl) {
    font-size: 42px;
    letter-spacing: -0.14px;
  }
}


/* EYEBLOW STYLE */
.eyebrow {
  font-family: $font-primary;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 88%;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  max-width: 130px;

  &__accent {
    color: $color--primary;
  }

  @include mixins.respond(lg) {
    font-size: 18px;
    max-width: 98px;
    letter-spacing: 0;
  }
}

/* BUTTON STYLE */
.btn{
  font-family: $font-primary;
  color: $color--dark-purple;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 88%; /* 28.16px */
  letter-spacing: -0.32px;
  text-transform: uppercase;
  transition: all 300ms ease;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  transition: all 300ms ease;

  @include mixins.respond(xl) {
    font-size: 24px;
  }

  @include mixins.respond(md) {
    padding: 12px 24px;
    letter-spacing: -0.12px;
  }

  @include mixins.respond(sm) {
    font-size: 24px;
    letter-spacing: 0;
  }

  &:hover{
    filter: brightness(0.9);
    text-decoration: underline;
  }

  &--primary {
    padding: 24px 41px 18px;
    border-radius: 61.983px;
    background: $color--primary;
    flex-shrink: 0;

    @include mixins.respond(xl) {
      padding: 18px 32px 14px;
    }

    @include mixins.respond(sm) {
      padding: 16px 28px 12px;
    }
  }

  &--primary {
    padding: 24px 41px 18px;
    border-radius: 61.983px;
    background: $color--primary;
    color: $color--dark-purple;
    flex-shrink: 0;

    @include mixins.respond(xl) {
      padding: 18px 32px 14px;
    }

    @include mixins.respond(sm) {
      padding: 16px 28px 12px;
    }
  }

  &--secondary {
    padding: 12px 24px;
    font-family: $font-base;
    color: $color--dark-purple;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    letter-spacing: -0.64px;
    border-radius: 16px;
    background: $color--primary;
    text-transform: capitalize;
  }

  &--tertiary {
    padding: 24px 41px 18px;
    border-radius: 61.983px;
    background: #FF4426;
    color: $color--white;
    flex-shrink: 0;

    @include mixins.respond(xl) {
      padding: 18px 32px 14px;
    }

    @include mixins.respond(sm) {
      padding: 16px 28px 12px;
    }
  }
}

.box-join {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px;

    &-icon {
      padding: 16px;
      border-radius: 32px;
      background-color: $color--primary;
      display: flex;

      @include mixins.respond(xl) {
        padding: 12px;
      }
    }

    & img {
      max-width: 20px;
      max-height: 20px;
      width: 100%;
      height: 100%;
    }
    &--custom {
      display: flex;
      padding: 24px 24px 16px 24px;
      justify-content: center;
      align-items: center;

      border-radius: 24px;
      background: #FFF;

      @include mixins.respond(sm) {
        width: 100%;
        padding: 18px 18px 12px 18px;
        border-radius: 16px;
      }
    }
  }
  &__title {
    color: #2C1A32;
    text-align: center;
    font-family: $font-primary;
    font-size: 80px;
    font-weight: 700;
    line-height: 88%; 
    letter-spacing: -0.8px;
    text-transform: uppercase;

    @include mixins.respond(xl) {
      font-size: 64px;
    }

    @include mixins.respond(sm) {
      font-size: 42px;
      letter-spacing: -0.3px;
    }
  }

  &__span {
    color: #FFF;
    font-family: $font-primary;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 88%; /* 28.16px */
    letter-spacing: -0.32px;
    text-transform: uppercase;

    @include mixins.respond(xl) {
      font-size: 24px;
      letter-spacing: -0.12px;
    }

    @include mixins.respond(sm) {
      letter-spacing: 0;
    }
  }
}

.text--white {
  color: $color--white;
}