@use 'mixins';

$font-base: "Inter", sans-serif;
$font-primary: "Thunder", sans-serif;

*{
  box-sizing: border-box;
  margin: unset;
}

body {
  font-family: $font-base;
  background: #01120C;
  color: black;

  h1, h2, h3, h4, h5, h6, p {
    margin: unset;
  }
  img {
    object-fit: cover;
  }

  a{
    text-decoration: none;
    color: inherit;
  }
}

section{
  width: 100%;
  overflow: hidden;
}

/* CONTAINER STYLE */
.container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding-inline: 32px;

  @include mixins.respond(lg) {
    padding-inline: 24px;
  }

  @include mixins.respond(md) {
    padding-inline: 16px;
  }
}

/* HEADING STYLE */
.heading__h1 {
  font-family: $font-primary;
  color: #FFF;
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: 88%; 
  letter-spacing: -1.28px;
  text-transform: uppercase;
  &--accent {
    color: #FFA100;
  }

  @include mixins.respond(xl) {
    font-size: 97px;
  }

  @include mixins.respond(sm) {
    font-size: 54px;
    letter-spacing: -0.28px;
  }
}

.heading__h2 {
  color: #FFF;
  font-family: $font-primary;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 88%;
  letter-spacing: -0.64px;
  text-transform: uppercase;

  &--accent {
    color: #175941;
  }

  @include mixins.respond(xl) {
    font-size: 48px;
    letter-spacing: -0.34px;
  }

  @include mixins.respond(sm) {
    font-size: 42px;
    letter-spacing: -0.14px;
  }
}


/* EYEBLOW STYLE */
.eyebrow {
  font-family: $font-primary;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 88%;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  max-width: 130px;

  &__accent {
    color: #FFA100;
  }

  @include mixins.respond(lg) {
    font-size: 18px;
    max-width: 98px;
  }
}

/* BUTTON STYLE */
.btn{
  font-family: $font-primary;
  color: #01120C;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 88%; /* 28.16px */
  letter-spacing: -0.32px;
  text-transform: uppercase;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  transition: all 300ms ease;

  @include mixins.respond(xl) {
    font-size: 24px;
  }

  @include mixins.respond(md) {
    padding: 12px 24px;
    letter-spacing: -0.12px;
  }

  @include mixins.respond(sm) {
    font-size: 24px;
    letter-spacing: 0;
  }

  &:hover{
    filter: brightness(0.9);
    text-decoration: underline;
  }

  &--primary {
    padding: 24px 41px 18px;
    border-radius: 61.983px;
    background: #FFA100;
    flex-shrink: 0;

    @include mixins.respond(xl) {
      padding: 18px 32px 14px;
    }

    @include mixins.respond(sm) {
      padding: 16px 28px 12px;
    }
  }

  &--secondary {
    padding: 12px 24px;
    font-family: $font-base;
    color: #01120C;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    letter-spacing: -0.64px;
    border-radius: 16px;
    background: #FFA100;
    text-transform: capitalize;
  }
}