@use 'base';
@use 'mixins';

.section-bluepage {
  background: linear-gradient(90deg, #0B0E2E 0%, #32387F 59.36%);
  .container {
    position: relative;
    padding-top: 268px;
    padding-bottom: 80px;
    @include mixins.respond(lg) {
      padding-top: 370px;
      padding-bottom: 40px;
    }
    @include mixins.respond(sm) {
      padding-bottom: 24px;
    }
  }
}

.bluepage {
  display: flex;
  flex-direction: column;
  gap: 64px;
  position: relative;
  z-index: 2;
  @include mixins.respond(xl) {
    gap: 40px;
  }
  &__head {
    max-width: 1147px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-end;
    .heading__h1 {
      color: #F0EADB;
      font-family: base.$font-secondary;
      font-size: 128px;
      font-style: normal;
      font-weight: 600;
      line-height: 80%; /* 102.4px */
      letter-spacing: -5.12px;
      text-transform: unset;
      @include mixins.respond(xl) {
        font-size: 98px;
        letter-spacing: -3.12px;
      }
      @include mixins.respond(lg) {
        font-size: 64px;
      }
      @include mixins.respond(sm) {
        font-size: 38px;
        letter-spacing: -1.6px;
      }
      &__accent {
        color: #FF4426;
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mixins.respond(lg) {
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
    }
  }
  &__trusted {
    border-radius: 999px;
    background-color: #FFA100;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 8px 8px 8px 0;


    max-width: 658px;
    width: 100%;
    @include mixins.respond(xl) {
      max-width: 418px;
    }
    @include mixins.respond(sm) {
      max-width: 289px;
    }
    &.mobile {
      display: none;
      @include mixins.respond(lg) {
        display: flex;
      }
    }
    @include mixins.respond(lg) {
      &.desktop {
        display: none;
      }
    }
    &__subtext {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
    }
    &__title {
      color: #3B438A;
      font-family: base.$font-secondary;
      font-size: 120px;
      font-style: normal;
      font-weight: 600;
      line-height: 80%; /* 96px */
      letter-spacing: -4.8px;

      @include mixins.respond(xl) {
        font-size: 86px;
      }
      @include mixins.respond(sm) {
        font-size: 40px;
        letter-spacing: -1.6px;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      gap: 45px;
      width: 50%;
      padding: 22px 42px 20px 22px;
      background: #3B438F;
      border-radius: 0 999px 999px 0;
      @include mixins.respond(xl) {
        gap: 24px;
        padding: 16px;
      }
      img {
        max-width: 30px;
        width: 100%;
        @include mixins.respond(xl) {
          max-width: 24px;
        }
        @include mixins.respond(sm) {
          max-width: 16px;
        } 
      }
    }
    &__desc {
      color: #FFF;
      font-family: base.$font-secondary;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 80%; /* 25.6px */
      letter-spacing: -1.28px;
      @include mixins.respond(xl) {
        font-size: 16px;
        letter-spacing: -0.28px;
      }
      @include mixins.respond(sm) {
        font-size: 13px;
        letter-spacing: -0.56px;
      }
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 513px;
    @include mixins.respond(xl) {
      max-width: 413px;
    }
    @include mixins.respond(lg) {
      flex-direction: row;
      max-width: 513px;
    }
    @include mixins.respond(sm) {
      gap: 16px;
    }
    img {
      max-width: 48px;
      max-height: 48px;
      width: 100%;
      height: 100%;

      @include mixins.respond(xl) {
        max-width: 24px;
      }
    }
    &__desc {
      color: #FFA100;
      font-family: base.$font-base;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%; /* 31.2px */
      letter-spacing: -1.2px;
      text-transform: uppercase;
      @include mixins.respond(xl) {
        font-size: 16px;
        letter-spacing: -0.2px;
      }
      @include mixins.respond(sm) {
        font-size: 14px;
      }
    }
  }
  &__card {
    padding: 12px;
    max-width: 232px;
    max-height: 218px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 24px;
    background: base.$color--primary;

    position: absolute;
    top: -244px;
    right: 0;

    @include mixins.respond(xl) {
      max-width: 152px;
      height: 138px;
      top: -184px;
      border-radius: 16px;
    }
    @include mixins.respond(lg) {
      position: relative;
      top: unset;
      right: unset;
      max-width: 100%;
      height: 100%;
    }
    &__cyrcle {
      width: 20px;
      height: 20px;
      aspect-ratio: 1/1;

      border-radius: 100px;
      background-color: #FF4426;
    }
    &__title {
      color: #FF4426;
      font-family: base.$font-secondary;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 80%; /* 25.6px */
      letter-spacing: -1.28px;

      @include mixins.respond(xl) {
        font-size: 24px;
        letter-spacing: -0.28px;
      }

      @include mixins.respond(lg) {
        font-size: 32px;
        width: 100%;
      }
    }
  }
  &__overlay {
    position: absolute;
    inset: 0;
    // @include mixins.respond(lg) {
    //   display: none;
    // }
    img {
      width: 100%;
    }
    &__person {
      max-width: 1233px;
      position: absolute;
      right: -136px;
      top: -98px;
      z-index: 1;
      pointer-events: none;
      &.mobile {
        display: none;
        @include mixins.respond(lg) {
          display: inline-block;
          top: -35px;
          right: -55px;
        }

        @include mixins.respond(sm) {
          min-width: 522.807px;
          max-width: 522.807px;;
        }
      }
      @include mixins.respond(lg) {
        display: none;
      }
    }
    &__global {
      max-width: 1312px;
      position: absolute;
      top: -206px;
      left: -355px;
      z-index: 0;
      pointer-events: none;
      @include mixins.respond(sm) {
        top: -107px;
        left: unset;
        right: -40px;
        min-width: 634px;
      }
    }
    &__bg {
      position: absolute;
      inset: 0;
      background: linear-gradient(90deg, #0B0E2E 0%, #32387F 59.36%);
      z-index: 1;
    }
  }
}