@use 'base';
@use 'mixins';

.section-connecting {
  background-color: #0B0E2E;
  .container {
    position: relative;
  }
}

.connecting {
  padding-block: 80px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;

  @include mixins.respond(xl) {
    gap: 32px;
  }
  
  @include mixins.respond(lg) {
    padding-block: 40px;
  }
  @include mixins.respond(sm) {
    gap: 16px;
  }
  &__head {
    .heading__h2 {
      color: #FFF;
      font-family: base.$font-primary;
      font-size: 96px;
      font-style: normal;
      font-weight: 700;
      line-height: 88%; /* 84.48px */
      letter-spacing: -0.96px;
      text-transform: uppercase;

      max-width: 680px;

      @include mixins.respond(xl) {
        font-size: 72px;
      }

      @include mixins.respond(sm) {
        font-size: 54px;
      }
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 32px;
    margin-top: -40px;

    @include mixins.respond(xl) {
      flex-direction: column;
      margin-top: unset;
      align-items: flex-start;
      gap: 24px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    max-width: 448px;

    @include mixins.respond(xl) {
      max-width: 100%;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    @include mixins.respond(lg) {
      flex-direction: column;
      gap: 16px;
    }
    &__desc {
      color: rgba(255, 255, 255, 0.64);
      font-family: base.$font-base;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 160%; /* 25.6px */
      text-transform: uppercase;

      @include mixins.respond(xl) {
        font-size: 14px;
        max-width: 448px;
      }

      @include mixins.respond(lg) {
      max-width: 100%;}
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    max-width: 796px;
    @include mixins.respond(xl) {
      max-width: 100%;
    }

    @include mixins.respond(xl) {
    grid-template-columns: repeat(1, 1fr);}
  }
  &__card {
    position: relative;

    padding: 24px;
    border-radius: 24px;
    background: #3B438F;
    height: 400px;
    overflow: hidden;

    @include mixins.respond(lg) {
      height: 350px;
      padding: 16px;
      border-radius: 16px;
    }

    @include mixins.respond(sm) {
      height: 280px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    &__subtext {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &__title {
      color: #FFF;
      font-family: base.$font-primary;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%; /* 40px */
      text-transform: uppercase;

      @include mixins.respond(sm) {
        font-size: 32px;
      }
    }
    &__desc {
      color: rgba(255, 255, 255, 0.64);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 25.6px */
      letter-spacing: -0.64px;
    }
    &__icon {
      max-width: 48px;
      max-height: 48px;

      @include mixins.respond(lg) {
        max-width: 32px;
        max-height: 32px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    &__bg {
      max-width: 320px;
      max-height: 320px;
      position: absolute;
      right: -64px;
      bottom: -112px;
      pointer-events: none;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__bg {
    max-width: 547px;
    position: absolute;
    top: 0px;
    right: 48px;
    pointer-events: none;
    z-index: 0;

    @include mixins.respond(sm) {
      right: -48px;
    }

    img {
      width: 100%;
    }
  }
}