@use 'base';
@use 'mixins';

.section-core {
  // background: url("../assets/images/core__background.webp") center / cover no-repeat;
  padding-block: 80px;

  @include mixins.respond(lg) {
    padding-block: 40px;
  }

  .container {
    position: relative;
  }

  .core {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
    z-index: 1;

    &__head {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      max-width: 812px;
      width: 100%;
      position: absolute;
      top: 78px;
      left: 0;

      @include mixins.respond(xl) {
        max-width: 612px;
        top: 32px;
      }

      @include mixins.respond(lg) {
        flex-direction: column;
        max-width: 321px;
        gap: 16px;
      }

      @include mixins.respond(sm) {
        position: relative;
        align-items: flex-start;
        top: unset;
      }

      .heading__h2 {
        color: base.$color--white;
        font-family: base.$font-primary;
        font-size: 96px;
        font-style: normal;
        font-weight: 700;
        line-height: 88%; /* 84.48px */
        letter-spacing: -0.96px;
        text-transform: uppercase;
        max-width: 467px;

        @include mixins.respond(xl) {
          font-size: 72px;
          max-width: 346px;
        }

        @include mixins.respond(lg) {
          font-size: 54px;
          letter-spacing: -0.26px;
        }
      }
    }
    &__span {
      color: base.$color--white;
      font-family: base.$font-primary;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 88%; /* 21.12px */
      letter-spacing: -0.24px;
      text-transform: uppercase;
    }
    &__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;

      @include mixins.respond(lg) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include mixins.respond(sm) {
        grid-template-columns: 1fr;
      }
    }
    &__card {
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 24px;
      border-radius: 24px;
      overflow: hidden;
      background-color: base.$color--secondary;
      cursor: pointer;
      &:first-child {
        grid-area: 1 / 3 / 2 / 4;
      }
      &:nth-child(2) {
        grid-area: 2 / 1 / 3 / 2;
      }
      &:nth-child(3) {
        grid-area: 2 / 2 / 3 / 3;
      }
      &:nth-child(4) {
        grid-area: 2 / 3 / 3 / 4;
      }
      &:last-child {
        grid-area: 3 / 1 / 4 / 2;
      }
      
      @include mixins.respond(xl) {
        border-radius: 16px;
        padding: 16px;
      }

      @include mixins.respond(lg) {
        &:first-child {
          grid-area: 1 / 2 / 2 / 3;
        }
        &:nth-child(2) {
          grid-area: 2 / 1 / 3 / 2;
        }
        &:nth-child(3) {
          grid-area: 2 / 2 / 3 / 3;
        }
        &:nth-child(4) {
          grid-area: 3 / 1 / 4 / 2;
        }
        &:last-child {
          grid-area: 3 / 2 / 4 / 3;
        }
      }

      @include mixins.respond(sm) {
        &:first-child {
          grid-area:unset;
        }
        &:nth-child(2) {
          grid-area: unset;
        }
        &:nth-child(3) {
          grid-area: unset;
        }
        &:nth-child(4) {
          grid-area: unset;
        }
        &:last-child {
          grid-area: unset;
        }
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 124px;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;

        @include mixins.respond(xl) {
          gap: 42px;
        }
      }
      &__media {
        display: flex;
        position: absolute;
        inset: 0;
        opacity: 0;
        transition: all 250ms ease;
      }
      &__img {
        width: 100%;
        height: 100%;
      }
      &__icons {
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
      &__icon {
        max-width: 48px;
        max-height: 48px;
        width: 100%;
        height: 100%;
        color: base.$color--primary;
        transition: all 300ms ease;

        @include mixins.respond(xl) {
          max-width: 32px;
          max-height: 32px;
        }
      }
      &__body {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
      &__title {
        color: base.$color--white;
        font-family: base.$font-primary;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        text-transform: uppercase;

        @include mixins.respond(xl) {
          font-size: 32px;
        }
      }
      &__desc {
        color: rgba(255, 255, 255, 0.64);
        font-family: base.$font-base;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: -0.64px;

        @include mixins.respond(lg) {
          letter-spacing: -0.14px;
        }
      }
      &:hover {
        .core__card__media {
          opacity: 1;
          transform: scale(1.12);
        }
        .core__card__icon {
          color: base.$color--white;
          transform: rotate(65deg);
        }
      }
    }
    &__bottom {
      max-width: 796px;
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;

      @include mixins.respond(xl) {
        max-width: 458px;
      }

      @include mixins.respond(lg) {
        position: relative;
        max-width: 100%;
      }

      .heading__h3 {
        text-align: right;
      }
    }

    &__bg {
      max-width: 1201px;
      max-height: 750px;
      width: 100%;
      height: 100%;

      position: absolute;
      top: 197px;
      left: -157px;
      z-index: 0;
    }
  }
}