@use 'base';
@use 'mixins';

.footer {
  padding-block: 32px;

  @include mixins.respond(lg) {
    padding-block: 20px;
  }

  @include mixins.respond(md) {
    padding-block: 14px;
  }
  .footer__wrapper {
    padding-inline: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include mixins.respond(xl) {
      gap: 16px;
      padding-inline: 24px;
    }

    @include mixins.respond(lg) {
      padding-inline: 16px;
    }

    @include mixins.respond(md) {
      padding-inline: 0;
      gap: 12px;
    }
  }
  &__menus {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mixins.respond(lg) {
      flex-wrap: wrap;
    }
  }
  &__link {
    color: #FFF;
    font-family: base.$font-base;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 128%;
    letter-spacing: -0.48px;
    text-transform: uppercase;
  }
  &__tagline {
    width: 100%;
    height: 100%;
    &__img {
      width: 100%;
      height: 100%;
    }
  }
}