@use 'base';
@use 'mixins';

.section-hero {
  background-color: #0B0E2E;
  position: relative;
  padding-top: 136px;
  background: radial-gradient(282.16% 141.42% at 100% 100%, rgba(59, 67, 143, 0.40) 0%, rgba(11, 14, 46, 0.00) 100%), #0B0E2E;
  @include mixins.respond(lg) {
    padding-top: 98px;
  }

  @include mixins.respond(sm) {
    padding-top: 72px;
  }
  .container {
    position: relative;
    padding-block: 32px;
    @include mixins.respond(lg) {
      padding-block: 16px;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 72px;
  position: relative;
  z-index: 1;

  @include mixins.respond(sm) {
    gap: 42px;
  }
  &__head {
    display: flex;
    flex-direction: column;
  }
  &__subtext {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mixins.respond(lg) {
      justify-content: flex-start;
      gap: 16px;
    }
    @include mixins.respond(sm) {
      flex-wrap: wrap;
      gap: unset;
    }
  }
  .heading__h1 {
    color: base.$color--white;
    font-family: base.$font-primary;
    font-size: 180px;
    font-style: normal;
    font-weight: 700;
    line-height: 88%; /* 158.4px */
    letter-spacing: -1.8px;
    text-transform: uppercase;
    &__accent {
      color: #FF4426;
    }

    @include mixins.respond(xl) {
      font-size: 124px;
    }

    @include mixins.respond(lg) {
      font-size: 82px;
    }

    @include mixins.respond(sm) {
      font-size: 72px;
      letter-spacing: -0.8px;
    }
  }
  &__span {
    width: 30px;
    height: 31px;
    display: inline-block;
    position: relative;
    background: url('../assets/images/hero__tagline.webp') no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 32px;

    @include mixins.respond(lg) {
      width: 20px;
      height: 20px;
      margin-bottom: unset;
    }
    @include mixins.respond(sm) {
      display: none;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include mixins.respond(sm) {
      flex-direction: column;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 119px;

    @include mixins.respond(lg) {
      gap: 32px;
    }

    @include mixins.respond(sm) {
      width: 100%;
      gap: 16px;
    }
    &__span {
      color: #FFDC50;
      font-family: base.$font-primary;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 88%; /* 28.16px */
      letter-spacing: -0.32px;
      text-transform: uppercase;
      display: inline-flex;

      max-width: 96px;

      @include mixins.respond(xl) {
        font-size: 24px;
      }
      @include mixins.respond(lg) {
        letter-spacing: -0.12px;
      }
      @include mixins.respond(sm) {
        max-width: 100%;
      }
    }
    &__title {
      color: base.$color--white;
      font-family: base.$font-primary;
      font-size: 160px;
      font-style: normal;
      font-weight: 700;
      line-height: 88%; /* 140.8px */
      letter-spacing: -1.6px;
      text-transform: uppercase;

      @include mixins.respond(xl) {
        font-size: 112px;
      }
    }
  }
  &__summary {
    display: flex;
    flex-direction: column;
    gap: 64px;
    max-width: 494px;

    @include mixins.respond(xl) {
      max-width: 324px;
      gap: 32px;
    }

    @include mixins.respond(lg) {
      max-width: 424px;
      gap: 16px;
    }
    img {
      max-width: 30px;
      max-height: 31px;
      width: 100%;
      height: 100%;

      @include mixins.respond(lg) {
        max-width: 24px;
      }

      @include mixins.respond(sm) {
        display: none;
      }
    }
    &__desc {
      color: #FFDC50;
      font-family: base.$font-base;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 160%; /* 25.6px */
      text-transform: uppercase;

      @include mixins.respond(xl) {
        font-size: 14px;
      }
    }
  }
  &__media {
    display: flex;
    max-width: 605px;
    max-height: 756px;
    position: absolute;
    bottom: 0;
    left: 359px;
    z-index: 1;
    pointer-events: none;

    @include mixins.respond(xl) {
      max-width: 485px;
      left: 46%;
      transform: translateX(-50%);
    }
    @include mixins.respond(lg) {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__overlay {
    position: absolute;
    inset: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    &__layer {
      width: 100%;
      height: 50%;
      pointer-events: none;
      &:first-child {
        background: url("../assets/images/hero__overlay__layer-1.webp") center / cover no-repeat;
        background-color: #3B438F;
        height: 55%;
      }
      &:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45%;
        img {
          max-width: 1376px;
          width: 100%;
          pointer-events: none;
        }
      }
    }
  }
}