@use 'base';
@use 'mixins';

.integrations {
  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 128px;
    max-width: 585px;
  }

  &__box-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    max-width: 448px;

    .box-content {
      &__inner {
        display: flex;
        flex-direction: column;
        gap: 16px;
        img {
          display: flex;
          max-width: 30px;
          max-height: 31px;
          width: 100%;
          height: 100%;
        }
      }
      &__desc {
        color: base.$color--white;
        font-family: base.$font-base;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%; /* 25.6px */
        text-transform: uppercase;
      }
    }
  }
}