@use 'base';
@use 'mixins';

.section-integrations {
  background: radial-gradient(154.49% 103.93% at 101.7% 100%, rgba(112, 10, 96, 0.00) 0%, #2F0428 63.73%), #2F0428;
  .container {
    position: relative;
    padding-top: 45px;
    @include mixins.respond(sm) {
      padding-top: 24px;
    }
  }
}

.integrations {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  padding-top: 224px;
  padding-bottom: 32px;
  z-index: 1;

  @include mixins.respond(xl) {
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
    padding-top: 98px;
  }

  @include mixins.respond(sm) {
    padding-top: 42px;
    padding-bottom: 24px;
  }

  @include mixins.respond(sm) {
    gap: 32px;
  }
  &__subtext {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include mixins.respond(sm) {
      align-items: flex-start;
    }
  }
  &__left {
    max-width: 585px;
    display: flex;
    flex-direction: column;
    gap: 128px;

    position: relative;
    z-index: 1;

    @include mixins.respond(xl) {
      gap: 32px;
      max-width: 438px;
    }

    @include mixins.respond(sm) {
      gap: 16px;
    }
    .eyebrow {
      &__accent {
        color: #D11B46;
      }
    }
    .heading__h1 {
      &__accent {
        color: #FF9D1C;
      }
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    gap: 124px;
    max-width: 448px;

    position: relative;
    z-index: 1;

    @include mixins.respond(xl) {
      gap: 32px;
    }
    .join-card {
      display: flex;
      flex-direction: column;
      max-width: 324px;
      width: 100%;
      padding: 8px;
      gap: 8px;
      border-radius: 32px;
      background-color: #D11B46;

      @include mixins.respond(xl) {
        border-radius: 24px;
      }
      @include mixins.respond(sm) {
        max-width: 100%;
      }
      &__head {
        padding: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__title {
        color: #FFF;
        font-family: base.$font-primary;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 88%; /* 28.16px */
        letter-spacing: -0.32px;
        text-transform: uppercase;

        max-width: 115px;

        @include mixins.respond(xl) {
          font-size: 24px;
          max-width: 82px;
        }
      }
      &__icon {
        padding: 16px;
        border-radius: 32px;
        background-color: #FFF9EB;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        @include mixins.respond(xl) {
          padding: 12px;
        }
        img {
          max-width: 20px;
          max-height: 20px;
          width: 100%;
          height: 100%;

          @include mixins.respond(xl) {
            max-width: 16px;
            max-height: 16px;
          }
        }
      }
      &__body {
        padding: 24px 24px 16px;
        border-radius: 24px;
        background-color: #FFF9EB;

        @include mixins.respond(xl) {
          padding: 16px 16px 8px;
          border-radius: 18px;
        }
      }
      &__number {
        color: #3A0632;
        text-align: center;
        font-family: base.$font-primary;
        font-size: 80px;
        font-style: normal;
        font-weight: 700;
        line-height: 88%; /* 70.4px */
        letter-spacing: -0.8px;
        text-transform: uppercase;

        @include mixins.respond(xl) {
          font-size: 72px;
          letter-spacing: -0.4px;
        }
      }
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    @include mixins.respond(lg) {
      gap: 24px;
    }
    @include mixins.respond(sm) {
      gap: 16px;
    }
    &__subtext {
      display: flex;
      flex-direction: column;
      gap: 16px;
      img {
        max-width: 30px;
        max-height: 31px;
        width: 100%;
        height: 100%;
      }
    }
    &__desc {
      color: #FFF;
      font-family: base.$font-base;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 160%; /* 25.6px */
      text-transform: uppercase;
    }
  }
  &__media {
    display: flex;
    position: absolute;
    max-width: 684px;
    bottom: 0;
    left: 293px;
    z-index: 0;

    @include mixins.respond(xl) {
      left: unset;
      right: 0;
    }

    @include mixins.respond(lg) {
      max-width: 484px;
    }

    @include mixins.respond(sm) {
        display: none;
      }
    img {
      width: 100%;
    }
  }
  &__overlay {
    position: absolute;
    inset: 0;

    img:first-child {
      position: absolute;
      max-width: 460px;
      width: 100%;

      top: -147px;
      left: 54px;

      @include mixins.respond(xl) {
        max-width: 260px;
        top: -84px;
        left: 24px;
      }

      @include mixins.respond(sm) {
        display: none;
      }
    }
    img:nth-child(2) {
      position: absolute;
      max-width: 564px;
      width: 100%;

      top: 0;
      right: 0;

      @include mixins.respond(xl) {
        max-width: 364px;
      }
      @include mixins.respond(sm) {
        display: none;
      }
    }
    img:last-child {
      position: absolute;
      max-width: 944px;
      width: 100%;

      bottom: 0;
      right: 0;

      @include mixins.respond(xl) {
        max-width: 644px;
      }

      @include mixins.respond(sm) {
        display: none;
      }
    }
  }
}