@use 'base';
@use 'mixins';

.job-hero {
  background: url("../assets/images/job-hero__background.webp") center / cover no-repeat;
  overflow: hidden;
  padding-top: 45px;

  // @include mixins.respond(md) {
  //   padding-top: 36px;
  // }

  .container {
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    padding-top: 64px;
    padding-bottom: 32px;

    @include mixins.respond(xl) {
      gap: 64px;
    }

    @include mixins.respond(md) {
      gap: 64px;
      padding-top: 42px;
      padding-bottom: 24px;
    }

    @include mixins.respond(sm) {
      gap: 32px;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    position: relative;
    z-index: 1;

    @include mixins.respond(lg) {
      gap: 32px;
    }

    @include mixins.respond(md) {
      gap: 16px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 858px;
    width: 100%;
    position: relative;
    z-index: 1;

    @include mixins.respond(xl) {
      max-width: 758px;
    }

    @include mixins.respond(sm) {
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include mixins.respond(lg) {
      align-items: flex-start;
    }
  }

  &__span {
    width: 32px;
    height: 32px;
    display: inline-block;
    position: relative;
    background: url('../assets/images/job-hero__vector-tigline-title.webp') no-repeat;
    background-position: center;
    background-size: contain;

    @include mixins.respond(sm) {
      width: 20px;
      height: 20px;
    }
  }

  &__wrap {
    display: inline-flex;
    align-items: flex-start;
    gap: 32px;

    @include mixins.respond(lg) {
      &:first-child {
        flex-direction: row-reverse;
      }
    }

    @include mixins.respond(sm) {
      gap: 18px;
    }

    @include mixins.respond(sm) {
      &:last-child {
        flex-direction: column;
      }
    }
  }

  &__box-button {
    border-radius: 61.983px;
    border: 2.479px solid #38544A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 349px;
    padding: 8px;
    gap: 71px;

    & img {
      max-width: 82.437px;
      max-height: 42.768px;
      width: 100%;
      height: 100%;
    }

    @include mixins.respond(xl) {
      gap: 32px;
    }
  }

  &__box-summary {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 332px;
    & img {
      max-width: 30px;
      max-height: 31px;
      width: 100%;
      height: 100%;

      @include mixins.respond(md) {
        max-width: 24px;
      }
    }
  }

  &__summary {
    color: #38544A;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    text-transform: uppercase;
  }

  &__box-join {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 32px;
    background: base.$color--secondary;
    padding: 8px;

    @include mixins.respond(sm) {
      width: 100%;
      border-radius: 16px;
    }
  }
  
  &__media {
    position: absolute;
    right: -80px;
    bottom: 0;
    max-width: 663px;
    max-height: 928px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include mixins.respond(xl) {
      max-width: 563px;
      max-height: 828px;
    }

    @include mixins.respond(lg) {
      display: none;
    }
  }
}