@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: 576px) { @content; }
  } @else if $breakpoint == md {
    @media (max-width: 842px) { @content; }
  } @else if $breakpoint == lg {
    @media (max-width: 992px) { @content; }
  } @else if $breakpoint == xl {
    @media (max-width: 1200px) { @content; }
  }
}

@font-face {
  font-family: 'Thunder';
  src: url('../assets/images/Thunder-LC.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'Thunder';
  src: url('../assets/images/Thunder-BoldLC.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'Thunder';
  src: url('../assets/images/Thunder-SemiBoldLC.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@mixin font($type) {
  @if $type == 'primary' {
    font-family: "Thunder", sans-serif;
  } @else {
    font-family: 'Inter', sans-serif;
  }
}

@mixin clearfix {
  &::after {
    display: table;
    content: "";
    clear: both;
  }
}