@use 'base';
@use 'mixins';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 24px;
  // border-bottom: 1px solid rgba(255,255,255,0.2);
  z-index: 999;
  transition: all 300ms ease;

  @include mixins.respond(lg) {
    padding-block: 14px;
  }

  &__logo {
    display: flex;
    img {
      max-width: 74px;
      max-height: 21px;
      width: 100%;
      height: 100%;
    }
  }

  &.hidden {
    transform: translateY(-100%);
  }

  &.show {
    transform: translateY(0%);
    backdrop-filter: blur(10px) saturate(120%);
    -webkit-backdrop-filter: blur(10px) saturate(120%);
    background-color: rgba(255,255,255,0.10);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding-block: 14px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: space-between;
    align-items: center;
    
    @include mixins.respond(lg) {
      grid-template-columns: repeat(2, max-content);
    }
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    white-space: nowrap;

    @include mixins.respond(lg) {
      gap: 32px;
    }

    .nav__link {
      color: #FFF;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 128%; /* 15.36px */
      letter-spacing: -0.48px;
      text-transform: uppercase;

      @include mixins.respond(md) {
        font-size: 32px;
      }
    }


    @include mixins.respond(md) {
      position: fixed;
      inset: 0;
      background: black;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
      z-index: 998;

      &.active {
        opacity: 1;
        visibility: visible;
      }

      .btn {
        margin-top: 16px;
      }
    }
  }

  &__toggle {
    display: none;
    flex-direction: column;
    gap: 6px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;

    span {
      display: block;
      width: 22px;
      height: 2px;
      background: white;
      transition: all 0.3s ease;
    }

    @include mixins.respond(md) {
      display: flex;
      align-items: flex-end;
    }


    &.active span:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    &.active span:nth-child(2) {
      opacity: 0;
    }
    &.active span:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }


  @include mixins.respond(md) {
    .navbar__menu {
      display: none;
    }

    &__menu.active {
      display: flex;
    }
    .navbar__logo {
      z-index: 999;
    }
  }
}
