@use 'base';
@use 'mixins';

.orange-hero {
  background: url("../assets/images/orange__bg.webp") center / cover no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
  .container {
    position: relative;
  }
}

.orange {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 249px;
  padding-bottom: 160px;
  z-index: 2;

  @include mixins.respond(xl) {
    padding-bottom: 60px;
    gap: 24px;
  }
  @include mixins.respond(lg) {
    flex-direction: column-reverse;
    gap: 16px;
    padding-top: 60px;
    padding-bottom: 40px;
  }
  @include mixins.respond(sm) {
    padding-top: 431px;
  }
  &__subtext {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 8px;
    @include mixins.respond(xl) {
      align-items: flex-start;
    }
    @include mixins.respond(lg) {
      gap: 24px;
    }
  }
  .heading__h1 {
    font-family: base.$font-primary;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 108px */
    letter-spacing: -1.2px;
    text-transform: uppercase;
    max-width: 564px;

    @include mixins.respond(xl) {
      font-size: 98px;
      max-width: 464px;
    }
    @include mixins.respond(lg) {
      max-width: 100%;
    }
    @include mixins.respond(sm) {
      font-size: 64px;
      letter-spacing: -0.64px;
    }
    &__accent-2 {
      background: linear-gradient(93deg, #FFF 71.6%, rgba(255, 255, 255, 0.06) 99.44%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @include mixins.respond(sm) {
        background: unset;
        background-clip: unset;
        -webkit-background-clip: unset;
        -webkit-text-fill-color: unset;
      }
    }
    &__accent {
      color: #BC002C;
    }
    &__wrap {
      display: flex;
      align-items: flex-start;
      gap: 16px;
    }
    &__box {
      padding: 10px;
      border-radius: 100px;
      border: 4px solid #FFF;
      display: inline-flex;
      justify-content: flex-end;
      max-width: 160px;
      width: 100%;
      @include mixins.respond(xl) {
        padding: 5px;
        max-width: 120px;
      }
      @include mixins.respond(sm) {
        max-width: 104px;
      }
    }
    &__link {
      padding: 16px 23px;
      border-radius: 100px;
      background-color: #BC002C;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      @include mixins.respond(xl) {
        padding: 12px 18px;
      }
      @include mixins.respond(sm) {
        padding: 8px;
      }
      img {
        max-width: 32px;
        max-height: 32px;
        width: 100%;
        height: 100%;
        @include mixins.respond(xl) {
          max-width: 24px;
        }
        @include mixins.respond(sm) {
          max-width: 14px;
        }
      }
    }
  }
  .desc {
    color: rgba(255, 255, 255, 0.80);
    text-align: justify;
    font-family: base.$font-base;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
    max-width: 448px;
    @include mixins.respond(xl) {
    font-size: 16px;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 40px;
    border: 4px solid #FFF;
    background-color: #BC002C;
    max-width: 274px;
    width: 100%;
    padding: 14px 12px 12px 12px;
    @include mixins.respond(lg) {
      display: none;
    }
    @include mixins.respond(sm) {
      display: flex;
      position: absolute;
      max-width: 169px;
      padding: 8px;
      border-radius: 24px;
      gap: 8px;

      top: 340px;
      right: 0;
    }
    &__head {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    &__profiles {
      img {
        max-width: 50px;
        max-height: 50px;
        width: 100%;
        height: 100%;
        position: relative;
        border: 3px solid #BC002C;
        border-radius: 99px;
        z-index: 2;
        @include mixins.respond(sm) {
          max-width: 28px;
        }
        &:not(:first-child) {
          margin-left: -12px;
          z-index: 1;
        }
        &:last-child {
          z-index: 0;
        }
      }
    }
    &__span {
      color: #FFF;
      font-family: base.$font-primary;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%; /* 32px */
      letter-spacing: -0.32px;
      text-transform: uppercase;
      @include mixins.respond(xl) {
        font-size: 24px;
      }
      @include mixins.respond(sm) {
        font-size: 16px;
      }
    }
    &__body {
      display: flex;
      flex-direction: column-reverse;
      border-radius: 30px;
      background-color: #FFA100;
      padding: 16px;
      gap: 8px;
      align-items: flex-end;
      @include mixins.respond(sm) {
        align-items: flex-start;
      }
      @include mixins.respond(sm) {
        gap: 0;
        padding: 8px;
        border-radius: 16px;
      }
    }
    &__desc {
      color: #FFF;
      font-family: base.$font-primary;
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%; /* 28px */
      letter-spacing: -0.28px;
      text-transform: uppercase;
      @include mixins.respond(xl) {
        font-size: 24px;
      }
      @include mixins.respond(sm) {
        font-size: 16px;
        max-width: 88px;
      }
    }
    &__icon {
      max-width: 16px;
      max-height: 16px;
      @include mixins.respond(sm) {
        align-self: flex-end;
      }
    }
  }
  &__label {
    color: #FFF;
    text-align: right;
    font-family: base.$font-primary;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 48px */
    letter-spacing: -0.8px;

    @include mixins.respond(xl) {
      font-size: 36px;
    }
    @include mixins.respond(sm) {
      font-size: 32px;
    }
    .label__accent {
      color: #BC002C;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mixins.respond(lg) {
      align-items: flex-start;
      gap: 16px;
    }
  }
  &__overlay {
    max-width: 1118px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 161px;
    display: flex;

    @include mixins.respond(xl) {
      max-width: 718px;
    }
    @include mixins.respond(sm) {
      bottom: unset;
      left: unset;
      top: -55px;
      right: -66px;
      min-width: 523px;
    }
    img {
      width: 100%;
      &:last-child {
        display: none;
      }
      @include mixins.respond(sm) {
        &:first-child {
          display: none;
        }
        &:last-child {
          display: inline-flex;
        }
      }
    }
    &__bg {
      position: absolute;
      z-index: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 220px;
      background: linear-gradient(0deg, rgba(127, 57, 0, 1) 10%, rgba(127, 57, 0, 0) 100%);
    }
  }
}