@use 'base';
@use 'mixins';

.section-services {
  background-color: #0B0E2E;
  padding-block: 80px;

  @include mixins.respond(lg) {
    padding-block: 40px;
  }
}

.services {
  display: flex;
  flex-direction: column;
  gap: 32px;
  &__head {
    .heading__h2 {
      color: base.$color--white;
      text-align: center;
      font-family: base.$font-primary;
      font-size: 217px;
      font-style: normal;
      font-weight: 700;
      line-height: 88%; /* 190.96px */
      letter-spacing: -2.17px;
      text-transform: uppercase;

      @include mixins.respond(xl) {
        font-size: 142px;
        letter-spacing: -1.17px;
      }

      @include mixins.respond(lg) {
        font-size: 102px;
        letter-spacing: -0.17px;
      }

      @include mixins.respond(sm) {
        font-size: 54px;
      }
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 42px;

    @include mixins.respond(lg) {
      flex-direction: column;
    }

    @include mixins.respond(sm) {
      gap: 32px;
    }
  }
  &__card {
    max-width: 564px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
    
    @include mixins.respond(xl) {
      max-width: 398px;
      gap: 32px;
    }

    @include mixins.respond(lg) {
      max-width: 100%;
    }
    
    &__media {
      display: flex;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &__body {
      display: flex;
      flex-direction: column;
      gap: 40px;
      @include mixins.respond(xl) {
        gap: 24px;
      }
    }
    &__title {
      color: base.$color--white;
      font-family: base.$font-primary;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 88%;
      letter-spacing: -0.24px;
      text-transform: uppercase;

      max-width: 116px;
    }
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 86px;
      @include mixins.respond(xl) {
        gap: 32px;
      }
      img {
        max-width: 30px;
        max-height: 31px;
        width: 100%;
        height: 100%;

        @include mixins.respond(xl) {
          max-width: 24px;
        }

        @include mixins.respond(lg) {
          display: none;
        }
      }
    }

    &__wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      @include mixins.respond(xl) {
        gap: 24px;
      }
    }

    &__desc {
      color: rgba(255, 255, 255, 0.64);
      font-family: base.$font-base;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 160%; /* 25.6px */
      text-transform: uppercase;

      @include mixins.respond(xl) {
        font-size: 14px;
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    max-width: 680px;

    @include mixins.respond(lg) {
      max-width: 100%;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 40px 24px;
    border-bottom: 1px solid #3B438F;
    transition: all 300ms ease;
    position: relative;
    gap: 16px;

    @include mixins.respond(xl) {
      padding: 28px 24px;
    }

    @include mixins.respond(sm) {
      flex-direction: column;
      padding: 16px 12px;
    }
    &::after {
      content: "";
      width: 100%;
      height: 0%;
      background-color: rgba(255, 68, 38, 0.16);
      position: absolute;
      bottom: 0;
      left: 0;
      transition: inherit;
    }
    &__title {
      color: #FFDC50;
      font-family: base.$font-primary;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 88%; /* 28.16px */
      letter-spacing: -0.32px;
      text-transform: uppercase;

      max-width: 216px;

      @include mixins.respond(xl) {
        font-size: 24px;
        letter-spacing: -0.12px;
      }
    }
    &__desc {
      color: rgba(255, 255, 255, 0.64);
      font-family: base.$font-base;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 25.6px */
      letter-spacing: -0.64px;

      margin-top: 30px;

      @include mixins.respond(xl) {
        margin-top: 16px;
      }

      @include mixins.respond(sm) {
        margin-top: unset;
      }
    }

    &:hover {
      border-color:#FF4426;
      &::after {
        height: 100%;
      }
    }
  }
}