@use 'base';
@use 'navbar';
@use 'hero';
@use 'job-hero';
@use 'why';
@use 'core';
@use 'build';
@use 'services';
@use 'connecting';
@use 'portal';

@use 'integration-hero';
@use 'need';
@use 'tools';
@use 'footer';

